{% extends "layout.html" %}

{% block content %}
<html>
<body>
<br />
<h2 align="center"> 
    The Happiest Countries, Ranked
    
</h2>
<br />
<br />
<p align="center"> 
    This project is about the dataset which is ranking the happiest countries in the world.
    I chose this topic because I wanted to learn about what makes a country successfull in the citizen's eyes.
    
</p>

<img src="https://cdn.discordapp.com/attachments/655075372039143424/685947216594075678/5d79e6b0456f74a6b64d2eeb88e29bd0.png" align="middle" height="400" width="400" />




  </body>
</html>

{% endblock %}

