{% extends "layout.html" %}

{% block content %}

<br />
    <h2 align="center"> 
        The Happiest Countries, Ranked
    </h2>
<br/>

<h4 align="left"> 
  I chose to do my project on the Happiest countries in the world ranked because I wanted to see the different scores for each country.
</h4>

    <div align="center">
    <img src="https://cdn.discordapp.com/attachments/655075372039143424/685947216594075678/5d79e6b0456f74a6b64d2eeb88e29bd0.png" height="400" width="400" />
    </div>

{% endblock %}

